.with-hooks-container {
    display: flex;
    justify-content: center;
    width: 960px;
    margin: 0 auto;
    max-width: 90vw;
}
.table {
    width: 100%;
}
.loading-container {
    display: flex;
    justify-content: center;
}
